body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
}

.App {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 900px;
}

h1 {
    font-size: 26px;
    color: #0071ce;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.login-button {
    background-color: #0071ce;
    color: white;
}

.login-button:hover {
    background-color: #005bb5;
}

.logout-button {
    background-color: #d9534f;
    color: white;
    margin-bottom: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.logout-button:hover {
    background-color: #c9302c;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    padding: 20px;
    width: 180px;
    background-color: #0071ce;
    color: white;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
    background-color: #005bb5;
    transform: scale(1.05);
}

.card.active {
    background-color: #004080;
    transform: scale(1.05);
}

.section-list {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.section-list h2 {
    color: #0071ce;
    margin-bottom: 15px;
}

.section-list ul {
    list-style: none;
    padding: 0;
}

.section-list li {
    padding: 10px;
    background-color: #f9f9f9;
    margin: 5px 0;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.section-list li:hover {
    background-color: #e3f2fd;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.pagination-controls button {
    padding: 10px 15px;
    margin: 0 10px;
    background-color: #0071ce;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.pagination-controls button:hover {
    background-color: #005bb5;
}

.pagination-controls button:disabled {
    background-color: #b0bec5;
    cursor: not-allowed;
}

.pagination-controls span {
    font-weight: bold;
    font-size: 16px;
}